apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  namespace: {{ .Values.namespace }}
data:
  MONGODB_URI: {{ .Values.config.mongodbUri }}
  MONGO_INITDB_DATABASE: {{ .Values.config.mongoInitDb }}
