apiVersion: apps/v1
kind: Deployment
metadata:
  name: vegetable-app
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.app.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.app.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.app.name }}
    spec:
      containers:
        - name: vegetable-container
          image: {{ .Values.app.image }}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ .Values.app.containerPort }}
          env:
            - name: MONGODB_URI
              valueFrom:
                configMapKeyRef:
                  name: vegetable-config
                  key: MONGODB_URI
